<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= content %></p>

<div class="container">
  <div class="box">
    <div class="search-bar">
      <form>
        <input type="text" placeholder="Search" size = "50">
        <button><i class="bi bi-search"></i></button>
      </form>
    </div>
  </div>
</div>

<% for(let i = 0; i < posts.length ; i++){ %>
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h2 class="card-title"><%= posts[i].title %></h2>
    <p class="card-text"><%= posts[i].content.substring(0,100) + ' ... ' %></p>
    <a href="posts/<%= posts[i].title %>" class="btn btn-primary">Read More</a>
  </div>
</div>
<% } %> 



<%- include("partials/footer") -%>

